.size {
  display: flex;
  justify-content: center;
  height: 500px;
}
.size img {
  width: auto;
  height: 100%;
}

.displayBox2 {
  width: 100%;
  display: inline-block;
}

.midBanner {
  margin: 20px 0 10px 0;
  text-align: center;
}

.midBanner a img {
  width: 40%;
}
